<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bandlanguage.bandlanguagesite.mapper.RuleMapper">
    <resultMap id="RuleVo" type="com.bandlanguage.bandlanguagesite.model.vo.RuleVo">
        <result property="ruleId" column="rule_id"></result>
        <result property="rule" column="rule"></result>
        <result property="chineseName" column="chinese_name"></result>
        <result property="express" column="express"></result>
        <result property="description" column="description"></result>
        <result property="code" column="code"></result>
        <result property="creatorId" column="creator_id"></result>
        <result property="editorId" column="editor_id"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="status" column="status"></result>
        <result property="userId" column="user_id"></result>
        <result property="sceneId" column="dept_id"></result>
    </resultMap>

    <select id="getAllSimpleRulesBySceneId" resultMap="RuleVo">
        select ta.rule_id,ta.dept_id,tb.rule,tb.chinese_name from bls_dept_rule as ta
            left join bls_rule as tb on ta.rule_id = tb.rule_id
            where ta.dept_id = #{sceneId} and tb.status > 0
    </select>

    <select id="getAllWholeRulesBySceneId" resultMap="RuleVo">
        select tb.*,ta.dept_id from bls_dept_rule as ta
            left join bls_rule as tb on ta.rule_id = tb.rule_id
            where ta.dept_id = #{sceneId} and tb.status > 0
    </select>

</mapper>