<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bandlanguage.bandlanguagesite.mapper.WordMapper">
    <resultMap id="WordVo" type="com.bandlanguage.bandlanguagesite.model.vo.WordVo">
        <result property="wordId" column="word_id"></result>
        <result property="name" column="name"></result>
        <result property="description" column="description"></result>
        <result property="example" column="example"></result>
        <result property="type" column="type"></result>
        <result property="synonym" column="synonym"></result>
        <result property="creatorId" column="creator_id"></result>
        <result property="editorId" column="editor_id"></result>
        <result property="isTypeIn" column="is_type_in"></result>
        <result property="updateTime" column="update_time"></result>
        <result property="status" column="status"></result>
        <result property="userId" column="user_id"></result>
        <result property="sceneId" column="dept_id"></result>
        <result property="sceneName" column="scene_name"></result>
    </resultMap>
    <select id="getAllWordsBySceneId" resultMap="WordVo">
        select tb.*,ta.dept_id from bls_dept_word as ta
            left join bls_word as tb on ta.word_id = tb.word_id
            where ta.dept_id = #{sceneId} and tb.status > 0
    </select>

    <select id="getWordsBySceneIdAndUserId" resultMap="WordVo">
        select td.word_id,td.name,td.type,td.is_type_in,ta.user_id,tc.dept_id from bls_word_user as ta
            left join bls_user as tb on ta.user_id = tb.user_id
            left join bls_dept_word as tc on ta.word_id = tc.word_id
            left join bls_word as td on ta.word_id = td.word_id
            where ta.user_id = #{userId} and tc.dept_id = #{sceneId} and td.status > 0
    </select>
    <select id="getAllWords" resultMap="WordVo">
        select tb.*,tc.dept_id,tc.name as scene_name from bls_dept_word as ta
            left join bls_word as tb on ta.word_id = tb.word_id
            left join bls_dept as tc on ta.dept_id = tc.dept_id
            where tb.status > 0 order by tc.dept_id,tb.word_id
    </select>

    <select id="getWordsByKeyword" resultMap="WordVo">
        select tb.*,tc.dept_id,tc.name as scene_name from bls_dept_word as ta
            left join bls_word as tb on ta.word_id = tb.word_id
            left join bls_dept as tc on ta.dept_id = tc.dept_id
            where tb.status > 0 and tb.name like "%"#{keyword,jdbcType=VARCHAR}"%"
    </select>
    <select id="getWordsByKeywordInPage" resultMap="WordVo">
        select tb.*,tc.dept_id,tc.name as scene_name from bls_dept_word as ta
            left join bls_word as tb on ta.word_id = tb.word_id
            left join bls_dept as tc on ta.dept_id = tc.dept_id
            where tb.status > 0 and tb.name like "%"#{keyword,jdbcType=VARCHAR}"%" limit #{offset},#{size}
    </select>
    <select id="getWordsTotalByKeyword" resultType="java.lang.Long">
        select count(*) from bls_word as tb where tb.status>0 and tb.name like "%"#{keyword,jdbcType=VARCHAR}"%"
    </select>

</mapper>
